---
layout: default
title: The Considered Frame
---
<section id="blog">
    <h1 style="margin-top: 2rem;">The Considered Frame</h1>
    <p>Essays and thoughts on technology, writing, and life.</p>
    
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            <div class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
            <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
            
            {% assign content_start = post.content | strip_newlines | strip %}
            {% if content_start contains '<img' %}
                {% assign before_img = content_start | split: '<img' | first | strip %}
                {% if before_img.size < 50 %}
                <div class="post-image">
                    {% assign img_tag = content_start | split: '<img' | last | split: '>' | first %}
                    <img {{ img_tag }}>
                </div>
                {% endif %}
            {% endif %}
            
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 75 }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
